/* 全体 */
/*body {*/
/*	background-color: #EFF0F7;  背景色  */
/*	text-align: center;  中央寄せ */
/*    min-width: 900px;  最小幅 */
/*}*/
/* ヘッダー、ナビゲーションメニュー、フッター */
header{
	width: 100%;
	text-align: center;
	background-color: #45496a; /* 背景色 */
	color: #ffffff; /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}

header a{
	width: 100%;
	text-align: center;
	color: #ffffff;
	padding-left: 15px;
}

main{
	display: inline-block;
	position: absolute;
	right: 80px;
	top: 20px;
}

main img{
	width:80px;
	height: auto;
	
}

footer{
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 20px;
	position: fixed;
	bottom: 0;
	background-color: #45496a; /* 背景色 */
	color: #ffffff; /* 文字色 */
}

ul.footer_menu li {
display: inline;
}

footer ul li a{
	color: white;
}


/* ヘッダー、ナビゲーション内リンク */
/*header a, nav a {*/
/*	color: #ffffff;*/
/*}*/
/* ヘッダー内見出し */
/*header h1 {*/
/*	font-size: 20pt;*/
/*	margin: 10px auto;*/
/*}*/

/* 仕切り線 */
/*hr {*/
/*	border-top: 2px dashed #7d8bae;*/
/*}*/
/* メイン */
/*main {*/
/*	background-color: #FFFFFF;*/
/*	min-height: 50px;*/
/*	padding: 20px;*/
/*}*/
/* 表線 */
/*table, th, td {*/
/*	border-collapse: collapse;*/
/*	border: 1px solid #7d8bae;*/
/*}*/
/* 表 */
/*table {*/
/*    margin: 5px auto;*/
/*    min-width: 800px;*/
/*}*/
/* 表見出しセル */
/*table th {*/
/*	background: #7d8bae;*/
/*	color: #ffffff;*/
/*}*/
 /*送信ボタン */
button {
	font-size: 20px;
	font-weight: bold;
	margin: 2px;
	padding: 5px 20px;
	border: none;
	width:150px;
	cursor: pointer;
	opacity: 0.9;
}
 /*送信ボタン(マウスオーバー時) */
button:hover {
	color: #45496a;
	background-color: sandybrown;
}