
body{
	background-image: url(/img/backImg.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	position: relative;
}


div{
	width: 600px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 400%;
	transform: translate(-50%, -50%);
	background-color: white;
	opacity: 0.7;
}

 h1{
	width: 100%;
	height: 100px;
	top: 0;
	font-size: 45px;
	background-color:  #45496a;
	color: white;
	text-align: center;
	margin: 0;
	opacity: 0.8;
}

table{
	position: absolute;
	width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
}

th{
	font-size: 20px;
}

td input{
	font-size: 20px;
}

div .error{
	position: absolute;
	top: 250px;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 17px;
	opacity: 1;
	font-weight: bold;
	}

button{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

button:hover{
	background-color:#45496a;
	color: white;
}

a{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	float: left;
}

/* ヘッダー、ナビゲーション内リンク */
/*header a, nav a {*/
/*	color: #ffffff;*/
/*}*/
/* ヘッダー内見出し */
/*header h1 {*/
/*	font-size: 20pt;*/
/*	margin: 10px auto;*/
/*}*/

/* 仕切り線 */
/*hr {*/
/*	border-top: 2px dashed #7d8bae;*/
/*}*/
/* メイン */
/*main {*/
/*	background-color: #FFFFFF;*/
/*	min-height: 50px;*/
/*	padding: 20px;*/
/*}*/
/* 表線 */
/*table, th, td {*/
/*	border-collapse: collapse;*/
/*	border: 1px solid #7d8bae;*/
/*}*/
/* 表 */
/*table {*/
/*    margin: 5px auto;*/
/*    min-width: 800px;*/
/*}*/
/* 表見出しセル */
/*table th {*/
/*	background: #7d8bae;*/
/*	color: #ffffff;*/
/*}*/
/* 送信ボタン */
/*button {*/
/*	margin: 2px;*/
/*	padding: 5px 20px;*/
/*	background-color: #e5857b;*/
/*	color: #ffffff;*/
/*	border: none;*/
/*	width:150px;*/
/*	cursor: pointer;*/
/*}*/
/* 送信ボタン(マウスオーバー時) */
/*button:hover {*/
/*	background-color: #f1b2b2;*/
/*}*/