<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head>
	<meta charset="UTF-8">
	<title>周辺のおすすめ宿</title>
	<link rel="stylesheet" type="text/css" href="/css/style2.css">

	<style>
		img {
			display: inline-flex;
			height: 300px;
			width: 300px;
			object-fit: contain;
		}


		span {
			width: 900px;
			display: inline-block;
			vertical-align: top;
		}
		
	</style>
</head>

<body>
	<header th:replace="header"></header>

	<h1 class="pref">[[${spot.name}]] : 周辺のおすすめ宿</h1>


	<th:block th:each="inn : ${inns}">
		<div class="spot">
			<img th:src="${inn.img}">

			<span>
				<br><br>
				<font size="5"><b>[[${inn.name}]]</b></font><br><br>
				<span class="outline">[[${inn.outline}]]</span><br><br>
				<a th:href="|/bookingshow/${inn.id}|" style="margin-left: 20px">詳細はこちら</a>
			</span>
		</div>
		<div style="display:block"></div>
	</th:block>

	<footer th:replace="footer">
</body>

</html>