<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>周辺のおすすめ宿</title>
	
	<style>
		img{
			display: inline-flex;
			height: 300px;
			width: 300px;
			object-fit: contain;
		}
		
		div{
			width: 900px;
			display:inline-block;
			vertical-align: top;
			}
			
		.fixed_link{
			position: fixed;
			top: 20px;
			right: 20px;
			background-color: yellow;
			font-size: 20px;
		}
		
	</style>
</head>

<body>

		<h1>[[${spot.name}]] : 周辺のおすすめ宿</h1>
		
		<a href="javascript: history.back();" class="fixed_link">前のページに戻る</a>

	<th:block th:each="inn : ${inns}">
	
	<img th:src="${inn.img}">
	
	<div>
		<br><br>
		<font size="5"><b>[[${inn.name}]]</b></font><br><br>
		[[${inn.outline}]]<br><br>
		<a href="/bookingshow">詳細はこちら</a>	
	</div>

	<div style="display:block"></div>
	
	</th:block>


</body>

</html>