<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>ログイン</h1>

	<form action="/login" method="post">
		<span th:text="${message}" style="color:red;"></span>
		<table border="1">
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" name="email">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password">
				</td>
			</tr>
		</table>
		<input type="submit" value="ログイン">
	</form>
</body>
</html>