<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録</title>
</head>

<body>
<h1>新規登録</h1>

		<form action="/register" method="post">
			<h2>お客様情報</h2>
			
			<p style="color:red">
			<span th:each="message:${messages}">
			<span th:text=${message}></span><br>
			</span>
			</p>
			
			<br>
			<table>
				<tr>
					<th>お名前</th><td><input type="text" name="NAME" th:value="${name}"></td>
				</tr>
				<tr>
					<th>住所</th><td><input type="text" name="ADDRESS" th:value="${address}"></td>
				</tr>
				<tr>
					<th>電話番号</th><td><input type="text" name="TEL" th:value="${tel}"></td>
				</tr>
				<tr>
					<th>e-mail</th><td><input type="text" name="EMAIL" th:value="${email}"></td>
				</tr>
				<tr>
					<th>パスワード</th><td><input type="text" name="PASSWORD"></td>
				</tr>
			</table>
			
			<button>登録</button>
		</form>
		
</body>

</html>