<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>県選択</title>
	
</head>

<body>
		<h1>中国地方・県選択</h1>
		
		<h2>こんにちは、[[${@account.name}]]さん</h2>
		
		
		
		<style>
	div {
		position: absolute;
		top: 100px;
		left: 100px;
	}
	
	div p {
		height: 300px;
		width: 300px;
	}
	
	div #AAA {
		height: 30px;
		width: 100px;
		
		position: absolute;
		top: 10%;
		left: 10%;
	}
	
	div #BBB {
		height: 30px;
		width: 100px;
		
		position: absolute;
		top: 30%;
		left: 30%;
	}
</style>
</head>
<body>
<h1>位置調整</h1>

<div>
	<p></p>	
	<span id="AAA">テスト1</span>
	<span id="BBB">テスト2</span>
</div>
		
		
		
<!--		<div style="width:100%">-->
<!--		<img src="/sanin.png" style="position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);-->
<!--		width : 90%; height : auto;"></img>-->
<!--		</div>-->
		
		<div>
		<form action="/pref/1" method="get">
		<span id="tottori"><button>鳥取県</button></span>
		</form>
		<div>
			
<!--	<button style="position: absolute; top:50%; left:50%; transform: translate(400%,-700%);">鳥取県</button>-->
		
		<form action="/pref/2" method="get">
		<button style="position: absolute; top:50%; left:50%; transform: translate(-150%,-300%);">島根県</button>
		</form>
		
		<form action="/pref/3" method="get">
		<button style="position: absolute; top:50%; left:50%; transform: translate(350%,-110%);">岡山県</button>
		</form>
		
		<form action="/pref/4" method="get">
		<button style="position: absolute; top:50%; left:50%; transform: translate(-50%,50%);">広島県</button>
		</form>
		
		<form action="/pref/5" method="get">
		<button style="position: absolute; top:50%; left:50%; transform: translate(-500%,400%);">山口県</button>
		</form>
		
		
		
</body>

</html>