<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>スポット詳細</title>
	
	<style>
		img{
			width: 400px;
			height: 300px;
			object-fit:fill;
			
		}
		
		.fixed_link{
			position: fixed;
			top: 20px;
			right: 20px;
			background-color: yellow;
			font-size: 20px;
		}
		
	</style>
	
</head>

<body>

<th:block th:each="spot : ${spots}">
		<h1>[[${spot.name}]] : 詳細</h1>
		
		<a href="javascript: history.back();" class="fixed_link">前のページに戻る</a>

<table border="1">
	<tr><th colspan="2">[[${spot.name}]]</th></tr>
	
	<tr>
		<th>所在地</th>
		<td>[[${spot.location}]]</td>
	</tr>
	<tr>
		<th>アクセス</th>
		<td>[[${spot.access}]]</td>
	</tr>
	<tr>
		<th>料金</th>
		<td>[[${spot.price}]]</td>
	</tr>	
</table>
<br>

<img th:src="${spot.img1}">
<img th:src="${spot.img2}">
<img th:src="${spot.img3}">

</th:block>

</body>

</html>